# Custom files
LocalConfig.cmake
src/util/version.h

# Custom directories
.idea/
.vs/
.vscode
.DS_Store
build*/
install-debug/
install-release/
data/
doc/_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Disignore solution file
!build/colmap/__build__/COLMAP.sln
!build/colmap/__build__/colmap_sources.vcxproj
!build/colmap/__build__/colmap_sources.vcxproj.filters
!build/colmap/__build__/src/colmap.vcxproj
!build/colmap/__build__/src/colmap.vcxproj.filters
!build/colmap/__build__/src/colmap_cuda.vcxproj
!build/colmap/__build__/src/colmap_cuda.vcxproj.filters
